$color-blue: #1880e7;
$color-blue-dark: #1469be;
$color-gray: #ccc;
$color-gray-dark: #777;
$color-green: #009f00;
$color-lavender: #dfbfff;
$color-red: #df0000;
$color-red-light: #ff7575;

$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-black: 700;
